dist/
build/
__pycache__/
*.pyc
*.pyo
*.exe
*.spec
*.bak
*.log
*.dll
run.build/
run.dist/
run.onefile-build/
launcher.build/
launcher.dist/
launcher.onefile-build/
*.lnk
.doxyedit_cache/
*.doxyproj.json
!doxyedit/
